body{
    background-color: #000000;
}
.fig2{
    margin-top: 2em;
}
.firstimg{
   padding-top: 2em;
width: 50em;
    height: 40em;
}
.firstimg1{

    width: 50em;
    height: 40em;
}
.firstimg2{
    padding-top: 2em;
}
.h2{
    text-align: center;
    color: white;
}
.p1{
    color: white;
}
